services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      - TZ=Europe/Moscow
    volumes:
       - ./data:/app/data
    restart: unless-stopped
    container_name: githubbot
